// 右边页面的父级样式
.app-container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.messageCustom {
  z-index: 9999!important;
}
//弹性盒
.flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.item_flex {
  flex: 1;
}

.flex_align {
  align-items: center;
}

.justify_a {
  justify-content: space-around;
}

.justify_b {
  justify-content: space-between;
}

.justify_c {
  justify-content: center;
}

.flex_right {
  justify-content: flex-end;
}
